.header {
    margin: 10px auto;
    text-align: center;
}

#logo {
    margin: 0px auto;
    padding: 10px;
    background-color: grey;
    border-radius: 10px;
}

.jumbotronStyle {
    background-color: grey;
    border-radius: 10px;
}




