body {
    background-color: #3e3d3e;
}

.header {
    margin: 20px auto;
}

#logo {
    background-image: url("../images/wall.jpg");
    background-repeat: repeat;
    text-align: left;
    font-family: 'Permanent Marker', serif;
    font-size: 48pt;
    color: firebrick;
}

#logoImage {
    margin-left: 50px;
}

#logo {
    margin: 0px auto;
    padding: 10px;
    background-color: grey;
    border-radius: 10px;
}

.jumbotronStyle {
    background-color: grey;
    border-radius: 10px;
}

#searchTerm {
    width: 300px;
}

.form-group {
    margin: 15px 0px;
}

.dropdown {
    margin: 15px 0px;
}

#topicMenu {
    /* padding: 5px; */
}

#gifDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    font-family: Oxygen, sans-serif;
    font-weight: 100;
    color: whitesmoke;
}

p {
    margin: 0;
    padding: 0;
}

.gifDiv {
    margin: 5px;
}

.gifs {
    margin-bottom: 5px;
}

.dropdown-item:hover {
    background-color: #488AC7;
    color: whitesmoke;
}

.btn-primary {
    background-color: #488AC7;
}

.btn-primary:hover {
    background-color: #357EC7;
}

.btn-primary:active {
    background-color: #1569C7;
}