body {
    background-color: #3e3d3e;
}

.header {
    margin: 20px auto;
}

#logo {
    background-image: url("../images/wall.jpg");
    background-repeat: repeat;
    text-align: left;
    font-family: 'Permanent Marker', serif;
    font-size: 48pt;
    color: firebrick;
}

#logoImage {
    margin-left: 50px;
}

#logo {
    margin: 0px auto;
    padding: 10px;
    background-color: grey;
    border-radius: 10px;
}

.jumbotronStyle {
    background-color: grey;
    border-radius: 10px;
}

#searchTerm {
    width: 300px;
}

.form-group {
    margin: 15px 0px;
}

.dropdown {
    margin: 15px 0px;
}

#gifDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gifs {
    margin: 10px;
}
